* {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none !important;
}

.copy-icno {
    cursor: pointer;
}

.app-list-card {
    text-align: left !important;
    margin-bottom: 24;
    overflow: hidden;
}